This task involves understanding the basic datatypes in Python such as lists, dictionaries, and sets.


Write a Python program to create a list, a dictionary, and a set. Perform basic operations like adding, removing, and modifying elements.

# List

In [1]:
#creating list
list1 = [1, 4, 9.2, 'Lalitha', 17+3j, True]

In [2]:
#printing
list1

[1, 4, 9.2, 'Lalitha', (17+3j), True]

In [3]:
#indexing
list1[3]

'Lalitha'

In [4]:
#slicing
print(list1[3:])
print(list1[:3])
print(list1[::2])

['Lalitha', (17+3j), True]
[1, 4, 9.2]
[1, 9.2, (17+3j)]

In [5]:
#length of the list
len(list1)

6

In [7]:
#append(): Add an item to the end of the list

list1.append("Item added at the end")
list1

[1, 4, 9.2, 'Lalitha', (17+3j), True, 'Item added at the end']

In [9]:
# insert(): insert an item at a given position.
list1.insert(7, "Item inserted at position/index 7")
list1

[1,
 4,
 9.2,
 'Lalitha',
 (17+3j),
 True,
 'Item added at the end',
 'Item inserted at position/index 7']

In [10]:
#creating another list
list2 = [2,3,5,7]
list2

[2, 3, 5, 7]

In [11]:
#extend(): Extend the list by appending all the items from the iterable. 
list1.extend(list2)
list1

[1,
 4,
 9.2,
 'Lalitha',
 (17+3j),
 True,
 'Item added at the end',
 'Item inserted at position/index 7',
 2,
 3,
 5,
 7]

In [14]:
#remove(x): Remove the first item from the list whose value is equal to x
list1.remove(7)
list1

[1,
 4,
 9.2,
 'Lalitha',
 (17+3j),
 True,
 'Item added at the end',
 'Item inserted at position/index 7',
 2,
 3,
 5]

In [17]:
#pop(i): Remove the item at the given position in the list, and return it.
list1.pop(4) 
list1

[1,
 4,
 9.2,
 'Lalitha',
 True,
 'Item added at the end',
 'Item inserted at position/index 7',
 2,
 3,
 5]

In [19]:
#count(x): Return the number of times x appears in the list.
list1.count("Lalitha")

1

In [22]:
#reverse(): Reverse the elements of the list in place.
list1.reverse()
list1

[5,
 3,
 2,
 'Item inserted at position/index 7',
 'Item added at the end',
 True,
 'Lalitha',
 9.2,
 4,
 1]

In [24]:
#clear(): Remove all items from the list
#list1.clear()
list1

[]

# Dictionaries

In [27]:
#creating dictionary
dict1 = {
  "Name": "Lalitha",
  "Place": "Hyderabad",
  "Year": 2024,
  "Month": "May"
}

#printing
dict1

{'Name': 'Lalitha', 'Place': 'Hyderabad', 'Year': 2024, 'Month': 'May'}

In [28]:
#indexing
dict1["Place"]

'Hyderabad'

In [29]:
#length of the dictionary
len(dict1)

4

In [34]:
#getting key
dict1.keys()

dict_keys(['Name', 'Place', 'Year', 'Month'])

In [35]:
#getting values
dict1.values()

dict_values(['Lalitha', 'Hyderabad', 2024, 'May'])

In [36]:
#getting items
dict1.items()

dict_items([('Name', 'Lalitha'), ('Place', 'Hyderabad'), ('Year', 2024), ('Month', 'May')])

In [38]:
#changing value
dict1["Year"] = 2025
dict1

{'Name': 'Lalitha', 'Place': 'Hyderabad', 'Year': 2025, 'Month': 'May'}

In [41]:
#removing
dict1.pop("Month")
dict1

{'Name': 'Lalitha', 'Place': 'Hyderabad', 'Year': 2025}

In [43]:
#clearing the key:value pairs inside dictionary
dict1.clear()
dict1

{}

In [44]:
#deleting dictionary
#del dict1

# Set

In [61]:
set1 = {"Apple", "Banana", "Orange", "Grapes", True, 1, 2.3}
set1

{2.3, 'Apple', 'Banana', 'Grapes', 'Orange', True}

In [59]:
type(set1)

set

In [60]:
set1

{1, 2.3, 'Apple', 'Banana', 'Grapes', 'Orange'}

In [62]:
#length of the set
len(set1)

6

In [66]:
#adding
set1.add("Pineapple")
set1

{2.3, 'Apple', 'Banana', 'Grapes', 'Orange', 'Pineapple', True}

In [68]:
#removing
set1.remove("Banana")
set1

{2.3, 'Apple', 'Grapes', 'Orange', 'Pineapple', True}